


@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

header {
    position:fixed;
    width: 100%;
    height: auto;
    background:white;
    border-bottom: 1px solid #f8f7f7;
    box-shadow: 0px 0px 4px 0px #934c84;

}
h1{
  color:white;
}
h2{
  color: black;
}
h3{
  color: white;
}
li{
  color: white;
}
p
{
  color: white;
}

u1.navbar-nav a {
    color: #fff;
    transition: 0.5s;
}
ul.navbar-nav a:hover {
    color: #c7adad;
    transition: 0.5s;
}
body
    {    
          
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
    }
body
    {
          
  background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    margin:0;
  
     min-width: 100%

    }

section#mianheader {
    
    background-image:url('file:///C:/Users/Rashid/Desktop/protfolio/wp5060554.webp');
    color: #fff;
    height: 800px;
 padding-top:150px;
 padding-right: 100;
 
}

section#digitallearning{
    background-image:none;
       background-color: #414ba7;
       color:white ;
min-height:750px;
padding: 180px 10px 10px;

}




section#projects {
  width: 100%;
  padding: 20px;
  padding-top: 20px;
  background-color: #051c47;
  height: 700px;
}

.projects-container {
  display: flex; 
  gap: 20px; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  margin: 0 auto; 
  max-width: 1200px; 
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px; 
  padding: 20px;
  border: 5px solid rgb(11, 161, 167);
  border-radius: 10px;
  background-color: white;
  flex: 1 1 30%; 
  max-width: 350px; 
  box-shadow: 0 4px 8px rgba(214, 35, 35, 0.1); 
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease; 
}

.project-image:hover {
  transform: scale(1.1); 
}

.view-more {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none; /* Removes underline from button */
}

.view-more:hover {
  background-color: #0056b3; /* Hover effect */
}
section#skills
{
  background-color: #7aabd2;
  padding-top: 100px;
  padding-bottom: 100px;
    padding-right: 100px;
  height: 650px;
}

section#Education{
  background-color: #414ba7;
  padding-top: 100px;
  padding-bottom: 100px;
    padding-right: 100px;
  height: 750px;

}




section#Contactme
{background-image:none;
    background-color:#1c1c45;
    color:white ;
min-height:750px;
padding: 180px 10px 10px;

}
